---
import Layout from "../../layouts/Layout.astro";
import Header from "../../components/Header.astro";
import Barreo from "../../components/Barreo.astro";
import Footer from "../../components/Footer.astro";
---

<Layout title="Bar Menu">
  <main>
    <Header lang="en" />
    <Barreo lang="en" />
    <Footer lang="en" />
  </main>
</Layout>
