---
import Layout from "../../layouts/Layout.astro";
import Header from "../../components/EN/Header-EN.astro";
import Bar from "../../components/EN/Bar-EN.astro";
import Footer from "../../components/EN/Footer-EN.astro";
---

<Layout title="Bar Menu">
  <main>
    <Header />
    <Bar />
    <Footer />
  </main>
</Layout>
