---
import Layout from "../../layouts/Layout.astro";
import Header from "../../components/EN/Header-EN.astro";
import ContactEN from "../../components/EN/Contact-EN.astro";
import Footer from "../../components/EN/Footer-EN.astro";
---

<Layout title="Contact">
  <main>
    <Header />
    <ContactEN />
    <Footer />
  </main>
</Layout>
