---
import Layout from "../../layouts/Layout.astro";
import Header from "../../components/EN/Header-EN.astro";
import Footer from "../../components/EN/Footer-EN.astro";
import Table from "../../components/EN/Table.astro";
---

<Layout title="Table Menu">
  <main>
    <Header />
    <Table />
    <Footer />
  </main>
</Layout>
