---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Mesa from "../components/Mesa.astro";
---

<Layout title="Carta Mesa">
  <main>
    <Header />
    <Mesa />
    <Footer />
  </main>
</Layout>
