---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Barreo from "../components/Barreo.astro";
import Footer from "../components/Footer.astro";
---

<Layout title="Carta Barreo">
  <main>
    <Header />
    <Barreo />
    <Footer />
  </main>
</Layout>
