---
import Layout from "../layouts/Layout.astro";
import Intro from "../components/Intro.astro";
import Description from "../components/Description.astro";

---

<Layout title="ULTRAMARINOS EL CALVO | BORJA GARCÍA | ESTRELLA MICHELÍN ">
  <main>
    <Intro />
    <Description />
  </main>

</Layout>
