---
import { Image } from "astro:assets";
---

<section class="flex relative z-10 h-auto mx-4 my-8">
  <div class="sm:w-1/2 flex flex-col text-pretty sm:px-10">
    <h2 class="text-xl font-semibold text-center tracking-[0.35em]">
      CARTA DE
    </h2>
    <h2 class="text-4xl font-semibold text-center pb-1">BARREO</h2>
    <!--<a class="text-4xl font-semibold opacity-50 hover:opacity-100 text-center pb-1" href="carta-mesa"><button>MESA</button"></a
    > -->
    <p class="border-b-2 border-black"></p>
    <div
      class="text-rotator xs:text-xs xl:text-sm xxl:text-base font-medium text-center tracking-[.25em] py-2 xs:leading-relaxed"
    >
      <span class="rotating-text">PÍDELO</span>
      <span class="rotating-text">PRUÉBALO</span>
      <span class="rotating-text">PREGÚNTALO</span>
      <span class="rotating-text">MÉZCLALO</span>
      <span class="rotating-text">CÓMETELO</span>
      <span class="rotating-text">PERO SOBRETÓ...</span>
      <span class="rotating-text">DISFRÚTALO</span>
    </div>
    <div
      class="mt-4 xs:text-xs xl:text-sm xxl:text-base font-medium tracking-[.25em] space-y-2"
    >
      <ul>
        <li>GUILDA DE ACEITUNA GORDAL</li>
        <li>HUEVAS DE CHOCO ALIÑADAS</li>
        <li>ANCHOAS CANTÁBRICAS EN MANTEQUILLA (LATA)</li>
        <li>TOSTA DE ANCHOA CANTÁBRICA Y MANTEQUILLA (UD)</li>
        <li>BONITO DEL SUR SEMICURADO</li>
        <li>MOJAMA CURADA EN CASA</li>
        <li>MEJILLONES XXL EN ESCABECHE</li>
        <li>NAVAJA AL NATURAL</li>
        <li>ZAMBURIÑAS CONFITADAS</li>
        <li>COCOCHAS AL AJILLO</li>
        <li>VENTRESCA DE ATÚN ROJO "GADIRA"</li>
        <li>TOMATE PELAO Y ACEITE DE AJO</li>
        <li>ENSALADILLA DE BONITO, HUEVO Y PIPARRA</li>
        <li>PIRINACA Y CABALLA SEMICURADA</li>
        <li>TORTILLITA DE CAMARONES DE ESTERO</li>
        <li>CROQUETA DE JAMÓN "JOSELITO"</li>
        <li>CHICHARRONES ESPECIALES</li>
        <li>LOMO EN MANTECA</li>
        <li>JAMÓN 100% IBÉRICO</li>
        <li>COPPA "JOSELITO"</li>
        <li>CHORIZO DE PICADA "CASALBA"</li>
        <li>CHORIZO PICANTITO "LYO"</li>
        <li>PAPADA CURADA "CASALBA"</li>
        <li>PANCETA ADOBADA Y CURADA "BUCARITO"</li>
        <li>CECINA WAGYU "LYO"</li>
        <li>PICAÑA DE BUEY CURADA "LYO"</li>
        <li>QUESO AZUL DE CABRA FLORIDA "BUCARITO"</li>
        <li>QUESO DE LECHE CRUDA "BUCARITO"</li>
        <li>QUESO "EL BOSQUEÑO" CURADO EN OLOROSO</li>
      </ul>
      <p class="border-b-2 border-black pt-4"></p>
      <h3
        class="space-y-6 text-center
      xs:text-xs
      xl:text-sm
      xxl:text-base
      font-medium
      tracking-[.25em]"
      >
        MOLLETES
      </h3>
      <ul>
        <li>JAMON 100% IBERICO, TOMATE Y AOVE</li>
        <li>PALOMETA Y QUESO AZUL DE CABRA</li>
        <li>LOMO EN MANTECA, PIMIENTOS ASADOS Y AJO FRITO</li>
        <li>CHICHARRONES, QUESO PAYOYO Y LIMA</li>
        <li>PRINGÁ DE BERZA</li>
        <li>PRESA IBÉRICA, JAMÓN, PIMIENTO FRITO</li>
      </ul>
    </div>
  </div>
  <div class="sm:w-1/2 hidden sm:block">
    <Image
      src="/surtido.webp"
      class="w-full h-full object-cover"
      alt="surtido de tapas"
      title="surtido de tapas"
      width={800}
      height={600}
      quality={85}
      sizes="(max-width: 640px) 640px, 800px"
    />
  </div>
</section>

<style>
  .text-rotator {
    position: relative;
    height: 40px;
    overflow: hidden;
  }

  .rotating-text {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    text-align: center;
    animation: rotateText 18s infinite linear;
    opacity: 0;
  }

  /* Ajustar tiempos para que el texto se retire antes de la llegada del siguiente */
  .rotating-text:nth-child(1) {
    animation-delay: 0s;
  }
  .rotating-text:nth-child(2) {
    animation-delay: 2s;
  }
  .rotating-text:nth-child(3) {
    animation-delay: 4s;
  }
  .rotating-text:nth-child(4) {
    animation-delay: 6s;
  }
  .rotating-text:nth-child(5) {
    animation-delay: 8s;
  }
  .rotating-text:nth-child(6) {
    animation-delay: 10s;
  }
  .rotating-text:nth-child(7) {
    animation-delay: 14s;
  }

  @keyframes rotateText {
    0% {
      top: 100%;
      opacity: 0;
    }
    10%,
    15% {
      top: 0;
      opacity: 1;
    }
    25% {
      top: -100%;
      opacity: 0;
    }
    100% {
      top: -100%;
      opacity: 0;
    }
  }
</style>
