<section>
  <div class="bg-gray-100 min-h-[70dvh]">
    <h2 class="text-3xl font-bold text-center py-10">CONTACTO</h2>
    <h3 class="text-xl font-semibold text-center py-10">
      No dudes en contactarnos a través de nuestro teléfono y redes sociales
    </h3>
    <div class="flex flex-col">
      <div class="w-full">
        <iframe
          class="w-full h-96"
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3206.066960394829!2d-6.1921405!3d36.5283789!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd0dcdf149feb731%3A0x9c220b47924f078b!2sUltramarinos%20El%20Calvo!5e0!3m2!1ses!2ses!4v1734707212012!5m2!1ses!2ses"
          allowfullscreen=""
          loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
    </div>
  </div>
</section>
