<section class="bg-[#fafaf2]">
  <div
    class="w-full flex min:h-[1536px] max-w-screen-xxl sm:mx-auto relative z-10 p-8 overflow-hidden bg-[#fafaf2] pb-10"
  >
    <div class="grid grid-cols-1 sm:grid-cols-2 gap-2 h-[1536px]">
      <div class="row-span-1 flex items-center justify-center">
        <img
          src="/close-up.webp"
          class="object-cover rounded-lg"
          alt="Un rinconcito de nuestro local"
          title="Un rinconcito de nuestro local"
        />
      </div>
      <div class="row-span-1 flex flex-col justify-center md:px-16 py-8">
        <h2 class="mt-4 font-semibold text-base sm:text-3xl overflow-hidden">
          Alma del sur
        </h2>
        <p
          class="mt-4 text-base md:text-lg lg:text-xl xl:text-2xl overflow-hidden text-balance"
        >
          Donde cada <strong>tapa</strong> es un homenaje a la tradición y al
          <strong>producto local</strong>. Tapas que combinan el sabor de la
          inmediatez con la profundidad del tiempo, donde la sencillez y el
          detalle conviven en armonía.
        </p>
      </div>
      <div class="sm:hidden row-span-1 flex items-center justify-center">
        <img
          src="/salon-hzt.webp"
          class="object-cover rounded-lg"
          alt="Nuestro salón"
          title="Nuestro salón"
        />
      </div>
      <div class="row-span-1 flex flex-col justify-center md:px-16 py-8">
        <h2 class="mt-4 font-semibold text-base sm:text-3xl overflow-hidden">
          Materia Prima
        </h2>
        <p
          class="mt-4 text-base md:text-lg lg:text-xl xl:text-2xl overflow-hidden text-balance"
        >
          La <strong>excelencia</strong>, seleccionada con mimo de pequeños
          productores, es la protagonista indiscutible de cada plato.<br /> Una carta
          que sigue el <strong>ritmo de las estaciones</strong>, respetando cada
          ingrediente, <strong>sin artificios</strong> ni excesos.
        </p>
      </div>
      <div class="hidden row-span-1 sm:flex items-center justify-center">
        <img
          src="/salon-hzt.webp"
          class="object-cover rounded-lg"
          alt="Nuestro salón"
          title="Nuestro salón"
        />
      </div>
      <div class="row-span-1 flex items-center justify-center">
        <img
          src="/mesa-hzt.webp"
          class="object-cover rounded-lg"
          alt="Las mesas de nuestro local"
          title="Las mesas de nuestro local"
        />
      </div>
      <div class="row-span-1 flex flex-col justify-center md:px-16 py-8">
        <h2 class="mt-4 font-semibold text-base sm:text-3xl overflow-hidden">
          Para todos
        </h2>
        <p
          class="mt-4 text-base md:text-lg lg:text-xl xl:text-2xl text-balance"
        >
          El nuevo proyecto del chef <strong>Borja García</strong>, <strong
            >Estrella Michelin</strong
          >, acerca la <strong>alta cocina</strong> a todos los bolsillos en el corazón
          de <strong>Puerto Real</strong>. <br /> Una experiencia que celebra la
          <strong>tradición andaluza</strong> con calidad y autenticidad. Disfruta
          de una experiencia culinaria única, donde cada plato cuenta una historia
          y cada bocado es un viaje al sur.
        </p>
      </div>
    </div>
  </div>
</section>
