<section class="flex h-auto relative z-10 p-8 overflow-hidden">
  <div class="w-full">
    <h2 class="text-sm md:text-2xl font-bold text-center mb-8">
      Esencia del Sur
    </h2>
    <div class="grid grid-cols-2 gap-4">
      <!-- Segunda fila: Imagen a la izquierda y primer párrafo a la derecha -->
      <div class="row-span-1">
        <img
          src="/ensaladilla.webp"
          class="object-cover rounded-lg mx-auto w-60 h-60"
          alt="Esencia del Sur"
        />
      </div>
      <div class="row-span-1">
        <p class="mt-4 text-xs md:text-lg overflow-hidden text-ellipsis">
          <strong>Ultramarinos El Calvo</strong> es una cocina que respira el <strong
            >alma del sur</strong
          >, donde cada <strong>tapa</strong> es un homenaje a la tradición y al
          <strong>producto local</strong>.Tapas que combinan el sabor de la
          inmediatez con la profundidad del tiempo, donde la sencillez y el
          detalle conviven en armonía.
        </p>
      </div>
      <!-- Tercera fila: Un párrafo a cada lado -->
      <div class="row-span-1">
        <p class="mt-4 text-xs md:text-lg overflow-hidden text-ellipsis">
          La <strong>excelencia de la materia prima</strong>, seleccionada con
          mimo de pequeños productores, es la protagonista indiscutible de cada
          plato.<br /> Una carta que sigue el <strong
            >ritmo de las estaciones</strong
          >, respetando cada ingrediente con técnicas que realzan su esencia, <strong
            >sin artificios</strong
          > ni excesos.
        </p>
      </div>
      <div class="row-span-1">
        <img
          src="/chuleton.webp"
          class="object-cover rounded-lg mx-auto w-60 h-60"
          alt="Esencia del Sur"
        />
      </div>
      <!-- Cuarta fila: Un párrafo a cada lado -->
      <div class="row-span-1">
        <img
          src="/cecina.webp"
          class="object-cover rounded-lg mx-auto w-60 h-60"
          alt="Esencia del Sur"
        />
      </div>
      <div class="row-span-1">
        <p class="mt-4 text-xs md:text-lg overflow-hidden text-ellipsis">
          El nuevo proyecto del chef <strong>Borja García</strong>, <strong
            >Estrella Michelin</strong
          >, acerca la <strong>alta cocina</strong> a todos los bolsillos en el corazón
          de <strong>Puerto Real</strong>. Una experiencia que celebra la <strong
            >tradición andaluza</strong
          > con calidad y autenticidad. Disfruta de una experiencia culinaria única,
          donde cada plato cuenta una historia y cada bocado es un viaje al sur.
        </p>
      </div>
    </div>
  </div>
</section>
