<section class="flex h-screen relative z-20">
  <div class="w-1/2">
    <img src="/tapa.jpg" class="w-full h-full object-cover" />
  </div>
  <div class="w-1/2 flex flex-col justify-center p-8 text-pretty space-y-20 px-10">
    <h2 class="text-2xl font-bold">Esencia del Sur</h2>
    <p class="mt-4 text-lg">
      <strong>Ultramarinos El Calvo</strong> es una cocina que respira el <strong>alma del sur</strong>, donde cada <strong>tapa</strong> es un homenaje a la tradición y al <strong>producto local</strong>.
    </p>
    <p class="mt-4 text-lg">
      La <strong>excelencia de la materia prima</strong>, seleccionada con mimo de pequeños productores, es la protagonista indiscutible de cada plato.<br> Una carta que sigue el <strong>ritmo de las estaciones</strong>, respetando cada ingrediente con técnicas que realzan su esencia, <strong>sin artificios</strong> ni excesos.
    </p>
    <p class="mt-4 text-lg">
      Tapas que combinan el sabor de la inmediatez con la profundidad del tiempo, donde la sencillez y el detalle conviven en armonía.
    </p>
    <p class="mt-4 text-lg">
      El nuevo proyecto del chef <strong>Borja García</strong>, <strong>Estrella Michelin</strong>, acerca la <strong>alta cocina</strong> a todos los bolsillos en el corazón de <strong>Puerto Real</strong>. Una experiencia que celebra la <strong>tradición andaluza</strong> con calidad y autenticidad.
    </p>
  </div>
</section>
