<footer class="mb-0 bg-white">
  <div
    id="contact"
    class="flex flex-col py-8 sm:py-12 md:py-16 lg:py-20 xxl:py-24 xxxl:py-32 px-4 sm:px-6 md:px-8 xxl:px-16 xxxl:px-24 space-y-8 sm:space-y-12 md:space-y-0 md:flex-row md:space-x-8 lg:space-x-12 xxl:space-x-16 xxxl:space-x-20"
  >
    <div
      class="w-full lg:w-4/5 mx-auto grid grid-cols-1 sm:grid-cols-2 gap-8 sm:gap-12 xxl:gap-16 xxxl:gap-20 text-center xl:grid-cols-4"
    >
      <div class="space-y-4 sm:space-y-6 xxl:space-y-8 xxxl:space-y-10">
        <p class="flex justify-center">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="28"
            height="28"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="sm:w-8 sm:h-8 md:w-9 md:h-9 xxl:w-16 xxl:h-16 xxxl:w-20 xxxl:h-20"
            ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
              d="M3 12a9 9 0 1 0 18 0a9 9 0 0 0 -18 0"></path><path
              d="M12 7v5l3 3"></path></svg
          >
        </p>
        <h3
          class="text-sm sm:text-base md:text-lg xxl:text-3xl xxxl:text-4xl font-bold mb-2 sm:mb-3 xxl:mb-4 xxxl:mb-6"
        >
          HORARIO
        </h3>
        <ul
          class="text-xs sm:text-sm md:text-base xxl:text-2xl xxxl:text-3xl space-y-2 xxl:space-y-3 xxxl:space-y-4"
        >
          <li>Jueves a Domingo:</li>
          <li>09:00 - 17:00 / 20:30 - 23:00</li>
          <li>Lunes y Martes:</li>
          <li>09:00 - 17:00</li>
          <li>Miércoles: Cerrado</li>
        </ul>
      </div>
      <div class="space-y-4 sm:space-y-6 xxl:space-y-8 xxxl:space-y-10">
        <p class="flex justify-center bounce-top">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="28"
            height="28"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="sm:w-8 sm:h-8 md:w-9 md:h-9 xxl:w-16 xxl:h-16 xxxl:w-20 xxxl:h-20"
            ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
              d="M9 11a3 3 0 1 0 6 0a3 3 0 0 0 -6 0"></path><path
              d="M17.657 16.657l-4.243 4.243a2 2 0 0 1 -2.827 0l-4.244 -4.243a8 8 0 1 1 11.314 0z"
            ></path></svg
          >
        </p>
        <h3
          class="text-sm sm:text-base md:text-lg xxl:text-3xl xxxl:text-4xl font-bold mb-2 sm:mb-3 xxl:mb-4 xxxl:mb-6"
        >
          DIRECCIÓN
        </h3>
        <a
          class="transition-colors hover:scale-110 duration-300 hover:text-green-400 motion-reduce:duration-0"
          href="https://maps.app.goo.gl/znHLA57VS56vufEH8"
          target="_blank"
          rel="noopener noreferrer"
          ><p
            class="text-xs sm:text-sm md:text-base xxl:text-2xl xxxl:text-3xl"
          >
            Calle de la Plaza 149
          </p>
          <p class="text-xs sm:text-sm md:text-base xxl:text-2xl xxxl:text-3xl">
            Puerto Real, Cádiz
          </p></a
        >
      </div>
      <div class="space-y-4 sm:space-y-6 xxl:space-y-8 xxxl:space-y-10">
        <p class="flex justify-center shake-right">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="28"
            height="28"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="sm:w-8 sm:h-8 md:w-9 md:h-9 xxl:w-16 xxl:h-16 xxxl:w-20 xxxl:h-20"
            ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
              d="M5 4h4l2 5l-2.5 1.5a11 11 0 0 0 5 5l1.5 -2.5l5 2v4a2 2 0 0 1 -2 2a16 16 0 0 1 -15 -15a2 2 0 0 1 2 -2"
            ></path></svg
          >
        </p>
        <h3
          class="text-sm sm:text-base md:text-lg xxl:text-3xl xxxl:text-4xl font-bold mb-2 sm:mb-3 xxl:mb-4 xxxl:mb-6"
        >
          RESERVAS
        </h3>
        <a
          class="transition-colors hover:scale-110 duration-300 hover:text-green-400 motion-reduce:duration-0"
          href="tel:+34956992222"
          ><p
            class="text-xs sm:text-sm md:text-base xxl:text-2xl xxxl:text-3xl"
          >
            +34 956 99 22 22
          </p></a
        >
      </div>
      <div class="space-y-4 sm:space-y-6 xxl:space-y-8 xxxl:space-y-10">
        <p class="flex justify-center">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="28"
            height="28"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="sm:w-8 sm:h-8 md:w-9 md:h-9 xxl:w-16 xxl:h-16 xxxl:w-20 xxxl:h-20"
            ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
              d="M19.5 12.572l-7.5 7.428l-7.5 -7.428a5 5 0 1 1 7.5 -6.566a5 5 0 1 1 7.5 6.572"
            ></path></svg
          >
        </p>
        <h3
          class="text-sm sm:text-base md:text-lg xxl:text-3xl xxxl:text-4xl font-bold mb-2 sm:mb-3 xxl:mb-4 xxxl:mb-6"
        >
          CONTACTOS
        </h3>
        <div
          class="flex justify-center space-x-4 xxl:space-x-8 xxxl:space-x-12"
        >
          <a
            title="Instagram"
            aria-label="Instagram"
            class="focus:outline-none transition-transform duration-200 transform hover:scale-105 hover:text-green-400"
            href="https://www.instagram.com/ultramarinoselcalvo/"
            target="_blank"
            rel="noopener noreferrer"
            ><svg
              xmlns="http://www.w3.org/2000/svg"
              width="28"
              height="28"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="sm:w-8 sm:h-8 md:w-9 md:h-9 xxl:w-16 xxl:h-16 xxxl:w-20 xxxl:h-20"
              ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
                d="M4 8a4 4 0 0 1 4 -4h8a4 4 0 0 1 4 4v8a4 4 0 0 1 -4 4h-8a4 4 0 0 1 -4 -4z"
              ></path><path d="M9 12a3 3 0 1 0 6 0a3 3 0 0 0 -6 0"></path><path
                d="M16.5 7.5v.01"></path></svg
            ></a
          >
          <a
            title="Email"
            aria-label="Email"
            class="focus:outline-none transition-transform duration-200 transform hover:scale-105 hover:text-green-400"
            href="mailto:ultramarinoselcalvo@gmail.com"
            target="_blank"
            rel="noopener noreferrer"
            ><svg
              xmlns="http://www.w3.org/2000/svg"
              width="28"
              height="28"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="sm:w-8 sm:h-8 md:w-9 md:h-9 xxl:w-16 xxl:h-16 xxxl:w-20 xxxl:h-20"
              ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
                d="M3 7a2 2 0 0 1 2 -2h14a2 2 0 0 1 2 2v10a2 2 0 0 1 -2 2h-14a2 2 0 0 1 -2 -2v-10z"
              ></path><path d="M3 7l9 6l9 -6"></path></svg
            ></a
          >
        </div>
      </div>
    </div>
  </div>
  <div class="py-4 sm:py-6 xxl:py-8 xxxl:py-12">
    <ul
      class="flex flex-col text-[10px] xs:text-xs sm:text-sm xxl:text-xl xxxl:text-2xl p-3 sm:p-4 md:p-6 xxl:p-8 xxxl:p-12 text-center justify-center lg:flex-row space-y-2 lg:space-y-0 space-x-0 lg:space-x-6 xxl:space-x-8 xxxl:space-x-12"
    >
      <li>
        © 2024 Ultramarinos El Calvo by <strong
          ><a
            href="https://www.instagram.com/borgarpr/"
            class="transition-colors hover:text-green-400"
            target="_blank"
            rel="noopener noreferrer">Borja García</a
          ></strong
        >
      </li>
      <li class="hidden lg:block">-</li>
      <li>Todos los derechos reservados</li>
      <li class="hidden lg:block">-</li>
      <li>
        Desarrollado por <strong
          ><a
            href="https://benjamibono.dev/"
            class="transition-colors hover:text-green-400"
            target="_blank"
            rel="noopener noreferrer">Benjami Bono</a
          ></strong
        >
      </li>
    </ul>
  </div>
</footer>

<style>
  .shake-right {
    animation: shake-right 2s ease-in-out infinite;
  }
  @keyframes shake-right {
    0%,
    100% {
      transform: rotate(0deg);
    }
    50% {
      transform: rotate(10deg);
    }
  }
  /* ----------------------------------------------
  Generated by AnimatiSS
  Licensed under FreeBSD License
  URL: https://xsgames.co/animatiss
  Twitter: @xsgames_
---------------------------------------------- */

  .bounce-top {
    animation: bounce-top 2s linear infinite;
  }
  @keyframes bounce-top {
    0%,
    100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }
  }
</style>
