<picture
  class="relative w-full h-screen"
>
  <img
    src="/tapa2.jpg"
    alt="Ultramarinos el calvo"
    class="w-full object-cover"
    style="height: calc(100vh - 96px);"
  />
  <div
    class="absolute inset-0 flex flex-col items-center justify-center text-center text-white bg-black/30"
  >
    <h1 class="text-4xl font-semibold mb-4">
      Un sitio pa’ comer y beber. Pero bien.
    </h1>
    <p class="text-lg">Conservas, salazones, guisos, producto, chacinas….</p>
  </div>
</picture>
<style>
  @keyframes zoomIn {
    0% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
  }
</style>
