<section class="relative w-full h-[55dvh]">
  <div
    class="absolute inset-0 bg-cover bg-center"
    style="background-image: url('/surtido2.webp');"
  >
  </div>
  <div
    class="absolute inset-0 flex flex-col items-center justify-center text-center text-white bg-black/50 sm:space-y-5 md:space-y-10 xl:space-y-20"
  >
    <h1 class="text-sm sm:text-lg md:text-2xl lg:text-4xl xxl:text-6xl font-semibold mb-4">
      UN SITIO PA’ COMER Y BEBER, PERO BIEN.
    </h1>
    <h2 class="text-xs sm:text-base md:text-lg lg:text-xl xxl:text-3xl font-medium">CONSERVAS, SALAZONES, GUISOS, PRODUCTO, CHACINAS…</h2>
  </div>
</section>
