<header class="relative w-full min-h-screen">
  <div
    class="absolute inset-0 bg-cover bg-center"
    style="background-image: url('/barra.webp');"
  >
  </div>
  <div
    class="absolute inset-0 flex flex-col items-center justify-center text-center text-white bg-black/50"
  >
    <h1 class="text-base md:text-4xl font-semibold mb-4">
      UN SITIO PA’ COMER Y BEBER. PERO BIEN.
    </h1>
    <p class="text-sm md:text-lg">CONSERVAS, SALAZONES, GUISOS, PRODUCTO, CHACINAS…</p>
  </div>
</header>
<style>
  @keyframes zoomIn {
    0% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
  }

  header .bg-cover {
    animation: zoomIn 1s ease-in-out;
  }
</style>
