<section class="flex h-screen relative z-20">
  <div class="w-1/2">
    <img src="/tapa.jpg" class="w-full h-full object-cover" />
  </div>
  <div
    class="w-1/2 flex flex-col justify-center p-8 text-pretty space-y-20 px-10"
  >
    <h2 class="text-2xl font-bold">El Menú</h2>
    <div class="mt-4 text-lg space-y-4">
      <p>• Jamón Ibérico Gran Reserva – Airbag de Pan y AOVE</p>
      <p>• Pan de Cristal – Pulpa de Tomate Seco y Anchoa</p>
      <p>• Ostras de Roca – Perla de Vermut Blanco</p>
      <p>• Bonito del Norte – Escabeche de Cítricos</p>
      <p>• Alcachofa de Tudela – Huevo de Codorniz y Trufa Negra</p>
      <p>• Canelón de Cochinillo – Salsa de Mostaza Antigua</p>
      <p>• Pulpo a la Brasa – Crema de Pimentón y Patata Trufada</p>
      <p>• Ventresca de Atún Rojo – Emulsión de Kimchi</p>
      <p>• Presa Ibérica Ahumada – Infusión de Romero</p>
      <p>• Torrija Caramelizada – Helado de Canela y Naranja</p>
      <p>• Almendra Marcona – Chocolate Blanco y Sal Marina</p>
    </div>
  </div>
</section>
