---
import { Image } from "astro:assets";
---

<section class="flex relative z-10 h-auto mx-4 my-8">
  <div class="sm:w-1/2 hidden sm:block">
    <Image
      src="/mesa.webp"
      class="w-full h-full object-cover"
      alt="Una de nuestras mesas"
      title="Una de nuestras mesas"
      width={800}
      height={600}
      quality={85}
      sizes="(max-width: 640px) 640px, 800px"
    />
  </div>
  <div class="sm:w-1/2 flex flex-col text-pretty px-2 sm:px-10">
    <h2 class="text-xl font-semibold text-center tracking-[0.25em]">
      CARTA DE
    </h2>
    <h2 class="text-4xl font-semibold text-center pb-1 tracking-[0.25em]">
      MESA
    </h2>
    <p class="border-b-2 border-black"></p>

    <div
      class="text-rotator xs:text-xs xl:text-sm xxl:text-base font-medium text-center tracking-[.25em] py-2 xs:leading-relaxed"
    >
      <span class="rotating-text">ESTO ESTÁ PENSAO PÁ QUE TU LO DISFRUTES</span>
      <span class="rotating-text">OLVÍDATE DEL MÓVIL</span>
      <span class="rotating-text">DE LO MALO</span>
      <span class="rotating-text">DEL ESTRÉS...</span>
      <span class="rotating-text"
        >DISFRUTA DE TU TIEMPO, DE TU COMPAÑÍA Y DE TI.</span
      >
    </div>
    <div
      class="mt-4 xs:text-xs xl:text-sm xxl:text-base font-medium tracking-[.25em]"
    >
      <p class="underline font-semibold">PA IR PICANDO ...</p>
      <ul>
        <li>ENSALADILLA DE BONITO Y HUEVO DURO</li>
        <li>HUEVAS DE CHOCOS ALIÑÁ</li>
        <li>PIRIÑACA Y CABALLA SEMICURADA</li>
        <li>TOMATE ECOLÓGICO Y ACEITE DE AJO</li>
        <li>ALCAUCILES, CREMA DE YEMA Y PAYOYO</li>
        <li>CROQUETAS DE JAMÓN JOSELITO (1 UD)</li>
        <li>NÍSCALOS EMBOTADOS Y SALTEADOS</li>
        <li>TORTILLITA DE CAMARONES DE ESTERO</li>
      </ul>

      <p class="underline font-semibold mt-6">
        QUE NO SE PIERDAN LOS GUISOS...
      </p>
      <ul>
        <li>CARRILLADA AL AMONTILLADO</li>
        <li>ALBÓNDIGAS DE VACA RETINTA Y SETAS</li>
        <li>CARNE AL TORO</li>
        <li>CHOCO EN SU TINTA</li>
        <li>TOMATE FRITO, PAPAS Y HUEVO DE CORRAL</li>
        <li>GAMBONES AL AJILLO</li>
        <li>BERZA "GITANA" Y SU PRINGÁ</li>
      </ul>

      <p class="underline font-semibold mt-6">PRODUCTO Y ESENCIA...</p>
      <ul>
        <li>CHULETA SELECCIÓN "LYO" 120 DÍAS MADURACIÓN</li>
        <li>LANGOSTINO DE SANLÚCAR Y MANTECA COLORÁ</li>
        <li>BARRIGA DE ATÚN "GADIRA" Y JUGO DE ENCEBOLLADO</li>
        <li>POLLO A LA PLANCHA Y SALSA DE AJILLO</li>
        <li>PARPATANA DE ATÚN, JUGO DE CARNE Y ALMENDRAS</li>
      </ul>

      <p class="underline font-semibold mt-6">GUARNICIONES ECOLÓGICAS...</p>
      <ul>
        <li>PAPAS FRITAS</li>
        <li>PIMIENTOS ASADOS AL CARBÓN</li>
        <li>PIPARRAS ENCURTIDAS</li>
        <li>ENSALADA DE LECHUGA ALIÑÁ</li>
      </ul>

      <p class="underline font-semibold mt-6">MOLLETES...</p>
      <ul>
        <li>COPPA "JOSELITO", TOMATE Y AOVE</li>
        <li>PALOMETA Y QUESO AZUL DE CABRA</li>
        <li>BONITO, PIMIENTOS ASADOS Y AJO FRITO</li>
        <li>CHICHARRONES, QUESO PAYOYO Y LIMA</li>
        <li>PRINGÁ DE BERZA</li>
        <li>PRESA IBÉRICA, JAMÓN, PIMIENTOS FRITOS</li>
      </ul>
    </div>
  </div>
</section>

<style>
  .text-rotator {
    position: relative;
    height: 40px;
    overflow: hidden;
  }

  .rotating-text {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    text-align: center;
    animation: rotateText 20s infinite linear;
    opacity: 0;
  }

  /* Ajustar tiempos para que el texto se retire antes de la llegada del siguiente */
  .rotating-text:nth-child(1) {
    animation-delay: 0s;
  }
  .rotating-text:nth-child(2) {
    animation-delay: 4s;
  }
  .rotating-text:nth-child(3) {
    animation-delay: 6s;
  }
  .rotating-text:nth-child(4) {
    animation-delay: 8s;
  }
  .rotating-text:nth-child(5) {
    animation-delay: 12s;
  }

  @keyframes rotateText {
    0% {
      top: 100%;
      opacity: 0;
    }
    10%,
    15% {
      top: 0;
      opacity: 1;
    }
    25% {
      top: -100%;
      opacity: 0;
    }
    100% {
      top: -100%;
      opacity: 0;
    }
  }
</style>
