---
import Logo from './Logo.astro'
---
<nav class="flex items-center bg-white h-24">
  <Logo />
  <h1 class="pl-20 text-2xl font-thin">Borja García Prieto</h1>
  <ul class="flex items-center text-lg justify-between pr-20 space-x-8 ml-auto">
    <li>
      <a href="/">Inicio</a>
    </li>
    <li>
      <a href="/el-menu">Menú</a>
    </li>
    <li>
      <a href="/contacto">Contacto</a>
    </li>
  </ul>
</nav>
