---
import Logo from "./Logo.astro";
---

<nav class="z-20 flex items-center justify-between bg-white h-24 px-4 sm:px-6 md:px-8 top-0 sticky md:static">
  <Logo />
  <h1 class="pl-4 text-lg md:text-2xl font-light md:font-extralight">Borja García Prieto</h1>
  <ul class="flex items-center text-lg justify-between space-x-8 ml-auto xs:hidden md:flex">
    <li>
      <a href="/">INICIO</a>
    </li>
    <li class="relative group z-50">
      <button class="focus:outline-none">CARTA</button>
      <ul class="absolute left-0 hidden mt-2 w-48 bg-white border border-gray-200 rounded shadow-lg group-hover:block group-focus-within:block">
        <li>
          <a href="/carta-barreo" class="block px-4 py-2 hover:bg-gray-100">BARREO</a>
        </li>
        <li>
          <a href="/carta-mesa" class="block px-4 py-2 hover:bg-gray-100">MESA</a>
        </li>
      </ul>
    </li>
    <li>
      <a href="/contacto">CONTACTO</a>
    </li>
  </ul>
</nav>

<style>
  .group:hover .group-hover\:block,
  .group:focus-within .group-focus-within\:block {
    display: block;
  }
</style>
