---
import { Image } from "astro:assets";
---

<section
  class="flex flex-col lg:flex-row relative z-10 h-auto mx-2 xs:mx-3 sm:mx-4 md:mx-6 lg:mx-8 my-4 sm:my-6 md:my-8"
>
  <div
    class="w-full lg:w-1/2 flex flex-col text-pretty px-2 xs:px-3 sm:px-4 md:px-6 lg:px-10"
  >
    <h2
      class="text-lg sm:text-xl md:text-2xl font-semibold text-center tracking-[0.35em]"
    >
      BAR
    </h2>
    <h2 class="text-2xl sm:text-3xl md:text-4xl font-semibold text-center pb-1">
      MENU
    </h2>
    <p class="border-b-2 border-black"></p>
    <div
      class="text-rotator text-xs sm:text-sm md:text-base font-medium text-center tracking-[.25em] py-2 leading-relaxed"
    >
      <span class="rotating-text">ORDER IT</span>
      <span class="rotating-text">TRY IT</span>
      <span class="rotating-text">ASK FOR IT</span>
      <span class="rotating-text">MIX IT</span>
      <span class="rotating-text">EAT IT</span>
      <span class="rotating-text">BUT ABOVE ALL...</span>
      <span class="rotating-text">ENJOY IT</span>
    </div>
    <div
      class="mt-4 text-xs sm:text-sm md:text-base font-medium tracking-[.25em] space-y-2"
    >
      <ul class="space-y-1 sm:space-y-2">
        <li>GORDAL OLIVE GILDA</li>
        <li>SEASONED CUTTLEFISH ROE</li>
        <li>CANTABRIAN ANCHOVIES IN BUTTER (TIN)</li>
        <li>CANTABRIAN ANCHOVY AND BUTTER TOAST (UNIT)</li>
        <li>SEMI-CURED SOUTHERN BONITO</li>
        <li>HOUSE-CURED MOJAMA</li>
        <li>XXL PICKLED MUSSELS</li>
        <li>NATURAL RAZOR CLAMS</li>
        <li>CONFIT QUEEN SCALLOPS</li>
        <li>GARLIC STYLE KOKOTXAS</li>
        <li>BLUEFIN TUNA BELLY "GADIRA"</li>
        <li>PEELED TOMATO WITH GARLIC OIL</li>
        <li>BONITO, EGG AND PIPARRA RUSSIAN SALAD</li>
        <li>PIRINACA AND SEMI-CURED MACKEREL</li>
        <li>ESTUARY SHRIMP FRITTER</li>
        <li>"JOSELITO" HAM CROQUETTE</li>
        <li>SPECIAL PORK RINDS</li>
        <li>LOIN IN LARD</li>
        <li>100% IBERIAN HAM</li>
        <li>"JOSELITO" COPPA</li>
        <li>"CASALBA" MINCED CHORIZO</li>
        <li>"LYO" SPICY CHORIZO</li>
        <li>"CASALBA" CURED JOWL</li>
        <li>"BUCARITO" MARINATED AND CURED BACON</li>
        <li>"LYO" WAGYU CECINA</li>
        <li>"LYO" CURED OX PICANHA</li>
        <li>"BUCARITO" FLORIDA GOAT BLUE CHEESE</li>
        <li>"BUCARITO" RAW MILK CHEESE</li>
        <li>"EL BOSQUEÑO" CHEESE AGED IN OLOROSO</li>
      </ul>
      <p class="border-b-2 border-black pt-4"></p>
      <h3
        class="text-center text-xs sm:text-sm md:text-base font-medium tracking-[.25em] pt-2"
      >
        SOFT ROLLS
      </h3>
      <ul class="space-y-1 sm:space-y-2">
        <li>100% IBERIAN HAM, TOMATO AND EVOO</li>
        <li>POMFRET AND GOAT BLUE CHEESE</li>
        <li>LOIN IN LARD, ROASTED PEPPERS AND FRIED GARLIC</li>
        <li>PORK RINDS, PAYOYO CHEESE AND LIME</li>
        <li>STEWED MEAT</li>
        <li>IBERIAN PORK SHOULDER, HAM, FRIED PEPPER</li>
      </ul>
    </div>
  </div>
  <div class="w-full lg:w-1/2 hidden lg:block">
    <Image
      src="/surtido.webp"
      class="w-full h-full object-cover"
      alt="assortment of tapas"
      title="assortment of tapas"
      width={800}
      height={600}
      quality={85}
      sizes="(max-width: 1024px) 0, 800px"
    />
  </div>
</section>

<style>
  .text-rotator {
    position: relative;
    height: 40px;
    overflow: hidden;
  }

  .rotating-text {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    text-align: center;
    animation: rotateText 18s infinite linear;
    opacity: 0;
  }

  /* Ajustar tiempos para que el texto se retire antes de la llegada del siguiente */
  .rotating-text:nth-child(1) {
    animation-delay: 0s;
  }
  .rotating-text:nth-child(2) {
    animation-delay: 2s;
  }
  .rotating-text:nth-child(3) {
    animation-delay: 4s;
  }
  .rotating-text:nth-child(4) {
    animation-delay: 6s;
  }
  .rotating-text:nth-child(5) {
    animation-delay: 8s;
  }
  .rotating-text:nth-child(6) {
    animation-delay: 10s;
  }
  .rotating-text:nth-child(7) {
    animation-delay: 14s;
  }

  @keyframes rotateText {
    0% {
      top: 100%;
      opacity: 0;
    }
    10%,
    15% {
      top: 0;
      opacity: 1;
    }
    25% {
      top: -100%;
      opacity: 0;
    }
    100% {
      top: -100%;
      opacity: 0;
    }
  }
</style>
