<section class="flex relative z-10 h-auto mx-4 my-8">
  <div class="sm:w-1/2 flex flex-col text-pretty sm:px-10">
    <h2 class="text-xl font-semibold text-center tracking-[0.35em]">
      BAR
    </h2>
    <h2 class="text-4xl font-semibold text-center pb-1">MENU</h2>
    <!--<a class="text-4xl font-semibold opacity-50 hover:opacity-100 text-center pb-1" href="table-menu"><button>TABLE</button"></a> -->
    <p class="border-b-2 border-black"></p>
    <div
      class="text-rotator xs:text-xs xl:text-sm xxl:text-base font-medium text-center tracking-[.25em] py-2 xs:leading-relaxed"
    >
      <span class="rotating-text">ORDER IT</span>
      <span class="rotating-text">TRY IT</span>
      <span class="rotating-text">ASK FOR IT</span>
      <span class="rotating-text">MIX IT</span>
      <span class="rotating-text">EAT IT</span>
      <span class="rotating-text">BUT MOST IMPORTANTLY...</span>
      <span class="rotating-text">ENJOY IT</span>
    </div>
    <div
      class="mt-4 xs:text-xs xl:text-sm xxl:text-base font-medium tracking-[.25em] space-y-2"
    >
      <ul>
        <li>GORDAL OLIVE GUILDA</li>
        <li>SEASONED CUTTLEFISH ROE</li>
        <li>CANTABRIAN ANCHOVIES IN BUTTER (TIN)</li>
        <li>CANTABRIAN ANCHOVY & BUTTER TOAST (UNIT)</li>
        <li>SEMI-CURED SOUTHERN TUNA</li>
        <li>HOUSE-CURED MOJAMA</li>
        <li>XXL MUSSELS IN ESCABECHE</li>
        <li>NATURAL RAZOR CLAMS</li>
        <li>CONFIT SCALLOPS</li>
        <li>GARLIC COCOCHAS</li>
        <li>BLUEFIN TUNA BELLY "GADIRA"</li>
        <li>PEELED TOMATO WITH GARLIC OIL</li>
        <li>TUNA, EGG & PICKLED PEPPER SALAD</li>
        <li>PIRINACA SALAD WITH SEMI-CURED MACKEREL</li>
        <li>ESTERO SHRIMP FRITTER</li>
        <li>"JOSELITO" HAM CROQUETTE</li>
        <li>SPECIAL CHICHARRONES</li>
        <li>PORK LOIN IN LARD</li>
        <li>100% IBERIAN HAM</li>
        <li>"JOSELITO" COPPA</li>
        <li>"CASALBA" GROUND CHORIZO</li>
        <li>SPICY CHORIZO "LYO"</li>
        <li>"CASALBA" CURED PORK JOWL</li>
        <li>"BUCARITO" MARINATED & CURED PORK BELLY</li>
        <li>"LYO" WAGYU CECINA</li>
        <li>"LYO" CURED OX PICAÑA</li>
        <li>"BUCARITO" BLUE GOAT CHEESE</li>
        <li>"BUCARITO" RAW MILK CHEESE</li>
        <li>"EL BOSQUEÑO" CURED CHEESE IN OLOROSO WINE</li>
      </ul>
      <p class="border-b-2 border-black pt-4"></p>
      <h3
        class="space-y-6 text-center
      xs:text-xs
      xl:text-sm
      xxl:text-base
      font-medium
      tracking-[.25em]"
      >
        MOLLETES
      </h3>
      <ul>
        <li>100% IBERIAN HAM, TOMATO & EVOO</li>
        <li>SMOKED PALOMETA & BLUE GOAT CHEESE</li>
        <li>PORK LOIN IN LARD, ROASTED PEPPERS & FRIED GARLIC</li>
        <li>CHICHARRONES, PAYOYO CHEESE & LIME</li>
        <li>BERZA STEW PULLED MEAT</li>
        <li>IBERIAN PORK SHOULDER, HAM & FRIED PEPPER</li>
      </ul>
    </div>
  </div>
  <div class="sm:w-1/2 hidden sm:block">
    <img
      src="/surtido.webp"
      class="w-full h-full object-cover"
      alt="assorted tapas"
      title="assorted tapas"
    />
  </div>
</section>

<style>
  .text-rotator {
    position: relative;
    height: 40px;
    overflow: hidden;
  }

  .rotating-text {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    text-align: center;
    animation: rotateText 18s infinite linear;
    opacity: 0;
  }

  /* Adjusting timings so the text disappears before the next one arrives */
  .rotating-text:nth-child(1) {
    animation-delay: 0s;
  }
  .rotating-text:nth-child(2) {
    animation-delay: 2s;
  }
  .rotating-text:nth-child(3) {
    animation-delay: 4s;
  }
  .rotating-text:nth-child(4) {
    animation-delay: 6s;
  }
  .rotating-text:nth-child(5) {
    animation-delay: 8s;
  }
  .rotating-text:nth-child(6) {
    animation-delay: 10s;
  }
  .rotating-text:nth-child(7) {
    animation-delay: 14s;
  }

  @keyframes rotateText {
    0% {
      top: 100%;
      opacity: 0;
    }
    10%,
    15% {
      top: 0;
      opacity: 1;
    }
    25% {
      top: -100%;
      opacity: 0;
    }
    100% {
      top: -100%;
      opacity: 0;
    }
  }
</style>
