<section class="bg-[#fafaf2]">
  <div
    class="w-full flex min:h-[1536px] max-w-screen-xxl sm:mx-auto relative z-10 p-8 overflow-hidden bg-[#fafaf2] pb-10"
  >
    <div class="grid grid-cols-1 sm:grid-cols-2 gap-2 h-[1536px]">
      <div class="row-span-1 flex items-center justify-center">
        <img
          src="/close-up.webp"
          class="object-cover rounded-lg"
          alt="A little corner of our place"
          title="A little corner of our place"
        />
      </div>
      <div class="row-span-1 flex flex-col justify-center md:px-16 py-8">
        <h2 class="mt-4 font-semibold text-base sm:text-3xl overflow-hidden">
          Soul of the South
        </h2>
        <p
          class="mt-4 text-base md:text-lg lg:text-xl xl:text-2xl overflow-hidden text-balance"
        >
          Where every <strong>dish</strong> is a tribute to tradition and
          <strong>local produce</strong>. Tapas that combine the flavor of
          immediacy with the depth of time, where simplicity and detail coexist
          in harmony.
        </p>
      </div>
      <div class="sm:hidden row-span-1 flex items-center justify-center">
        <img
          src="/salon-hzt.webp"
          class="object-cover rounded-lg"
          alt="Our dining room"
          title="Our dining room"
        />
      </div>
      <div class="row-span-1 flex flex-col justify-center md:px-16 py-8">
        <h2 class="mt-4 font-semibold text-base sm:text-3xl overflow-hidden">
          Raw Material
        </h2>
        <p
          class="mt-4 text-base md:text-lg lg:text-xl xl:text-2xl overflow-hidden text-balance"
        >
          The <strong>excellence</strong>, carefully selected from small
          producers, is the undisputed protagonist of each dish.<br /> A menu that
          follows the
          <strong>rhythm of the seasons</strong>, respecting each ingredient,
          <strong>without artifice</strong> or excess.
        </p>
      </div>
      <div class="hidden row-span-1 sm:flex items-center justify-center">
        <img
          src="/salon-hzt.webp"
          class="object-cover rounded-lg"
          alt="Our dining room"
          title="Our dining room"
        />
      </div>
      <div class="row-span-1 flex items-center justify-center">
        <img
          src="/mesa-hzt.webp"
          class="object-cover rounded-lg"
          alt="The tables of our place"
          title="The tables of our place"
        />
      </div>
      <div class="row-span-1 flex flex-col justify-center md:px-16 py-8">
        <h2 class="mt-4 font-semibold text-base sm:text-3xl overflow-hidden">
          For Everyone
        </h2>
        <p
          class="mt-4 text-base md:text-lg lg:text-xl xl:text-2xl text-balance"
        >
          The new project by chef <strong>Borja García</strong>, <strong
            >Michelin Star</strong
          >, brings <strong>haute cuisine</strong> to all budgets in the heart of
          <strong>Puerto Real</strong>. <br /> An experience that celebrates
          <strong>Andalusian tradition</strong> with quality and authenticity. Enjoy
          a unique culinary experience, where each dish tells a story and each bite
          is a journey to the South.
        </p>
      </div>
    </div>
  </div>
</section>
