---
import Logo from "../Logo.astro";
import InstagramStories from "../InstagramStories";
---

<header class="sticky top-0 z-50 bg-white">
  <div
    class="mx-auto w-full max-w-[2000px] xxxl:max-w-[3000px] px-3 sm:px-4 lg:px-8 xxl:px-20 xxxl:px-40"
  >
    <div
      class="flex h-16 sm:h-20 lg:h-24 xxl:h-32 xxxl:h-48 items-center justify-between"
    >
      <div class="md:flex md:items-center md:gap-12">
        <a class="block w-[120px] xxl:w-[180px] xxxl:w-[400px]" href="/en">
          <span class="sr-only">Home</span>
          <Logo />
        </a>
      </div>
      <div class="flex-1 text-center mx-auto px-4 sm:px-6 lg:px-8 xxl:px-16">
        <h1
          class="text-xs sm:text-lg font-extralight lg:text-xl xl:text-2xl xxl:text-4xl xxxl:text-4xl"
        >
          Borja García Prieto
        </h1>
      </div>
      <div class="md:flex md:items-center md:gap-12">
        <nav aria-label="Global" class="hidden md:block">
          <ul
            class="flex items-center gap-4 lg:gap-6 xl:gap-8 xxl:gap-16 xxxl:gap-32 text-sm lg:text-base xxl:text-2xl xxxl:text-4xl text-[#2e211c]"
          >
            <li class="flex items-center self-center">
              <div
                class="w-[40px] h-[40px] xxl:w-[60px] xxl:h-[60px] xxxl:w-[84px] xxxl:h-[84px] flex items-center justify-center mr-4 lg:mr-6 xl:mr-8 xxl:mr-16 xxxl:mr-32"
              >
                <InstagramStories client:load />
              </div>
            </li>
            <li class="flex items-center">
              <a
                class="transition hover:text-gray-500/75 whitespace-nowrap"
                href="/en"
              >
                Home
              </a>
            </li>

            <li class="relative z-50">
              <button
                class="focus:outline-none transition-transform duration-200 transform hover:scale-105 hover:text-slate-300 whitespace-nowrap"
                onclick="document.getElementById('menu-dropdown').classList.toggle('hidden')"
                aria-label="Menu dropdown"
                aria-expanded="false"
                aria-controls="menu-dropdown"
              >
                Menu
              </button>
              <ul
                id="menu-dropdown"
                class="absolute hidden mt-2 w-48 xxl:w-64 xxxl:w-96 bg-white border border-gray-200 rounded shadow-lg"
              >
                <li>
                  <a
                    href="/en/bar-menu"
                    class="block px-4 py-2 xxl:px-6 xxl:py-4 xxxl:px-10 xxxl:py-8 hover:bg-gray-100 whitespace-nowrap"
                  >
                    Bar
                  </a>
                </li>
                <li>
                  <a
                    href="/en/table-menu"
                    class="block px-4 py-2 xxl:px-6 xxl:py-4 xxxl:px-10 xxxl:py-8 hover:bg-gray-100 whitespace-nowrap"
                  >
                    Table
                  </a>
                </li>
              </ul>
            </li>

            <li>
              <a
                class="transition hover:text-gray-500/75 whitespace-nowrap"
                href="tel:+34956992222"
              >
                Book
              </a>
            </li>

            <li>
              <a
                class="transition hover:text-gray-500/75 whitespace-nowrap"
                href="/en/contact"
              >
                Contact
              </a>
            </li>
            <li class="relative">
              <button
                class="text-sm lg:text-base xxl:text-2xl xxxl:text-4xl leading-5 py-1 sm:py-2 xxl:py-3 xxxl:py-5 px-2 sm:px-3 xxl:px-5 xxxl:px-8 flex items-center space-x-2 whitespace-nowrap"
                id="language-menu-button"
                type="button"
                aria-label="Language selector"
                aria-haspopup="true"
                aria-expanded="false"
                aria-controls="language-menu"
                onclick="document.getElementById('language-menu').classList.toggle('hidden')"
              >
                🇬🇧 ▼
              </button>
              <div
                id="language-menu"
                class="absolute hidden bg-white shadow-lg mt-2 rounded-md"
              >
                <a
                  href="/"
                  class="block px-4 py-2 xxl:px-6 xxl:py-4 xxxl:px-10 xxxl:py-8 text-primary hover:bg-gray-200 hover:rounded-md whitespace-nowrap"
                  >🇪🇸</a
                >
              </div>
            </li>
          </ul>
        </nav>

        <div class="block md:hidden">
          <button
            class="rounded p-2 text-gray-600 transition hover:text-gray-600/75"
            onclick="document.getElementById('mobile-menu').classList.toggle('hidden')"
            aria-label="Open mobile menu"
            aria-expanded="false"
            aria-controls="mobile-menu"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="size-5 xxl:size-8 xxxl:size-12"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
              stroke-width="2"
              aria-hidden="true"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M4 6h16M4 12h16M4 18h16"></path>
            </svg>
          </button>
          <div
            id="mobile-menu"
            class="absolute right-0 bg-white mt-2 w-48 xxl:w-64 xxxl:w-96 shadow-lg rounded-md hidden z-50"
          >
            <ul
              class="flex flex-col items-start gap-3 text-sm sm:text-base xxl:text-2xl xxxl:text-4xl text-[#2e211c] p-3 sm:p-4 xxl:p-6 xxxl:p-10"
            >
              <li class="flex items-center">
                <div class="w-[20px] xxl:w-[32px] xxxl:w-[48px]">
                  <InstagramStories client:load />
                </div>
              </li>
              <li>
                <a class="transition hover:text-gray-500/75" href="/en">
                  Home
                </a>
              </li>
              <li>
                <a
                  class="transition hover:text-gray-500/75"
                  href="/en/bar-menu"
                >
                  Bar Menu
                </a>
              </li>
              <li>
                <a
                  class="transition hover:text-gray-500/75"
                  href="/en/table-menu"
                >
                  Table Menu
                </a>
              </li>
              <li>
                <a
                  class="transition hover:text-gray-500/75"
                  href="tel:+34956992222"
                >
                  Book
                </a>
              </li>
              <li>
                <a class="transition hover:text-gray-500/75" href="/en/contact">
                  Contact
                </a>
              </li>
              <li class="relative">
                <button
                  class="text-sm sm:text-base xxl:text-2xl xxxl:text-4xl leading-5 py-1 sm:py-2 xxl:py-3 xxxl:py-5 px-2 sm:px-3 xxl:px-5 xxxl:px-8 flex items-center space-x-2"
                  id="language-menu-button-mobile"
                  type="button"
                  aria-label="Mobile language selector"
                  aria-haspopup="true"
                  aria-expanded="false"
                  aria-controls="language-menu-mobile"
                  onclick="document.getElementById('language-menu-mobile').classList.toggle('hidden')"
                >
                  🇬🇧 ▼
                </button>
                <div
                  id="language-menu-mobile"
                  class="absolute hidden bg-white shadow-lg mt-2 rounded-md"
                >
                  <a
                    href="/"
                    class="block px-4 py-2 xxl:px-6 xxl:py-4 xxxl:px-10 xxxl:py-8 text-primary hover:bg-gray-200 hover:rounded-md"
                    >🇪🇸</a
                  >
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
