<section>
  <div
    class="relative h-auto py-12 sm:py-16 md:py-20 lg:py-24 xxl:py-32 xxxl:py-40 bg-cover bg-center"
    style="background-image: url('/terraza.webp');"
  >
    <!-- Darkened layer -->
    <div class="absolute inset-0 bg-black bg-opacity-50"></div>

    <!-- Content -->
    <div
      class="relative z-10 flex flex-col items-center justify-center h-full gap-6 sm:gap-8 md:gap-12 xxl:gap-16 xxxl:gap-20 px-4 xxl:px-8 xxxl:px-12"
    >
      <h2
        class="text-lg sm:text-xl md:text-2xl lg:text-3xl xl:text-4xl xxl:text-5xl xxxl:text-6xl font-bold text-green-100 tracking-wide text-center py-6 sm:py-8 md:py-12 lg:py-16 xxl:py-20 xxxl:py-24"
      >
        DISCOVER OUR MENUS
      </h2>

      <div
        class="flex flex-col md:flex-row justify-center gap-6 sm:gap-8 md:gap-12 xxl:gap-16 xxxl:gap-20"
      >
        <!-- Bar Section -->
        <div
          class="relative w-64 h-48 xs:w-72 xs:h-56 sm:w-80 sm:h-64 md:w-96 md:h-72 lg:w-[437px] lg:h-96 xxl:w-[700px] xxl:h-[500px] xxxl:w-[900px] xxxl:h-[650px] bg-cover rounded-xl overflow-hidden shadow-lg bg-bottom mb-4 md:mb-0"
          style="background-image: url('/barra.webp');"
        >
          <a
            href="/en/bar-menu"
            class="absolute bottom-1/3 left-1/2 transform -translate-x-1/2 -translate-y-1/2 bg-green-800 focus:ring-green-300 font-bold hover:bg-green-900 py-2 sm:py-3 xxl:py-4 xxxl:py-6 px-4 sm:px-6 xxl:px-8 xxxl:px-12 rounded-full text-center text-white text-sm sm:text-base md:text-lg lg:text-xl xxl:text-2xl xxxl:text-3xl transition"
          >
            BAR
          </a>
        </div>
        <!-- Restaurant Section -->
        <div
          class="relative w-64 h-48 xs:w-72 xs:h-56 sm:w-80 sm:h-64 md:w-96 md:h-72 lg:w-[437px] lg:h-96 xxl:w-[700px] xxl:h-[500px] xxxl:w-[900px] xxxl:h-[650px] bg-cover bg-center rounded-xl overflow-hidden shadow-lg"
          style="background-image: url('/mesa.webp');"
        >
          <a
            href="/en/table-menu"
            class="absolute bottom-1/3 left-1/2 transform -translate-x-1/2 -translate-y-1/2 bg-green-800 focus:ring-green-300 font-bold hover:bg-green-900 py-2 sm:py-3 xxl:py-4 xxxl:py-6 px-4 sm:px-6 xxl:px-8 xxxl:px-12 rounded-full text-center text-white text-sm sm:text-base md:text-lg lg:text-xl xxl:text-2xl xxxl:text-3xl transition"
          >
            TABLE
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
