---
import { Image } from "astro:assets";
---

<section
  class="flex flex-col lg:flex-row relative z-10 h-auto mx-2 xs:mx-3 sm:mx-4 md:mx-6 lg:mx-8 my-4 sm:my-6 md:my-8"
>
  <div
    class="w-full lg:w-1/2 flex flex-col text-pretty px-2 xs:px-3 sm:px-4 md:px-6 lg:px-10"
  >
    <h2
      class="text-lg sm:text-xl md:text-2xl font-semibold text-center tracking-[0.35em]"
    >
      TABLE
    </h2>
    <h2 class="text-2xl sm:text-3xl md:text-4xl font-semibold text-center pb-1">
      MENU
    </h2>
    <p class="border-b-2 border-black"></p>
    <div
      class="text-rotator text-xs sm:text-sm md:text-base font-semibold text-center tracking-[.25em] py-2 leading-relaxed"
    >
      <span class="rotating-text">ORDER IT</span>
      <span class="rotating-text">TRY IT</span>
      <span class="rotating-text">ASK FOR IT</span>
      <span class="rotating-text">MIX IT</span>
      <span class="rotating-text">EAT IT</span>
      <span class="rotating-text">BUT ABOVE ALL...</span>
      <span class="rotating-text">ENJOY IT</span>
    </div>
    <div
      class="mt-4 text-xs font-medium sm:text-sm md:text-base tracking-[.25em] space-y-2"
    >
      <h3
        class="text-left text-xs sm:text-sm md:text-base font-semibold tracking-[.25em] py-2 underline"
      >
        TO START SNACKING...
      </h3>
      <ul class="space-y-1 sm:space-y-2">
        <li>RUSSIAN SALAD OF...</li>
        <li>SEASONED CUTTLEFISH ROE</li>
        <li>PIRIÑACA AND SEMI-CURED MACKEREL</li>
        <li>ORGANIC TOMATO AND GARLIC OIL</li>
        <li>ARTICHOKES, EGG YOLK CREAM AND PAYOYO</li>
        <li>JOSELITO HAM CROQUETTES (1 PC)</li>
        <li>SAUTÉED MUSHROOMS AND PARMENTIER</li>
      </ul>

      <h3
        class="text-left text-xs sm:text-sm md:text-base font-semibold tracking-[.25em] py-2 underline"
      >
        DON'T MISS THE STEWS...
      </h3>
      <ul class="space-y-1 sm:space-y-2">
        <li>AMONTILLADO BRAISED PORK CHEEKS</li>
        <li>RETINTA BEEF MEATBALLS</li>
        <li>GARLIC MUSHROOMS</li>
        <li>INKED CUTTLEFISH</li>
        <li>GARLIC PRAWNS</li>
        <li>STEW OF THE DAY</li>
      </ul>

      <h3
        class="text-left text-xs sm:text-sm md:text-base font-semibold tracking-[.25em] py-2 underline"
      >
        PRODUCT AND ESSENCE...
      </h3>
      <ul class="space-y-1 sm:space-y-2">
        <li>HIGH LOIN "LYO" 120 DAYS AGED</li>
        <li>LOW LOIN "LYO" SELECTION 90</li>
        <li>OX PICANHA SELECTION</li>
        <li>GRILLED POLE-CAUGHT SQUID</li>
        <li>FRIED POLE-CAUGHT SQUID</li>
        <li>"GADIRA" TUNA BELLY WITH ONIONS</li>
        <li>GRILLED CHICKEN WITH GARLIC</li>
      </ul>

      <h3
        class="text-left text-xs sm:text-sm md:text-base font-semibold tracking-[.25em] py-2 underline"
      >
        ORGANIC SIDES
      </h3>
      <ul class="space-y-1 sm:space-y-2">
        <li>FRENCH FRIES</li>
        <li>CHARCOAL ROASTED PEPPERS</li>
        <li>FRIED PADRÓN PEPPERS</li>
        <li>DRESSED LETTUCE SALAD</li>
      </ul>

      <h3
        class="text-left text-xs sm:text-sm md:text-base font-semibold tracking-[.25em] py-2 underline"
      >
        TO FINISH...
      </h3>
      <ul class="space-y-1 sm:space-y-2">
        <li>RICE PUDDING</li>
        <li>FRENCH TOAST AND MERINGUE MILK ICE CREAM</li>
        <li>CHEESECAKE</li>
      </ul>
    </div>
  </div>
  <div class="w-full lg:w-1/2 hidden lg:block">
    <Image
      src="/mesa.webp"
      class="w-full h-full object-cover"
      alt="table with dishes"
      title="table with dishes"
      width={800}
      height={600}
      quality={85}
      sizes="(max-width: 1024px) 0, 800px"
    />
  </div>
</section>

<style>
  .text-rotator {
    position: relative;
    height: 40px;
    overflow: hidden;
  }

  .rotating-text {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    text-align: center;
    animation: rotateText 18s infinite linear;
    opacity: 0;
  }

  /* Ajustar tiempos para que el texto se retire antes de la llegada del siguiente */
  .rotating-text:nth-child(1) {
    animation-delay: 0s;
  }
  .rotating-text:nth-child(2) {
    animation-delay: 2s;
  }
  .rotating-text:nth-child(3) {
    animation-delay: 4s;
  }
  .rotating-text:nth-child(4) {
    animation-delay: 6s;
  }
  .rotating-text:nth-child(5) {
    animation-delay: 8s;
  }
  .rotating-text:nth-child(6) {
    animation-delay: 10s;
  }
  .rotating-text:nth-child(7) {
    animation-delay: 14s;
  }

  @keyframes rotateText {
    0% {
      top: 100%;
      opacity: 0;
    }
    10%,
    15% {
      top: 0;
      opacity: 1;
    }
    25% {
      top: -100%;
      opacity: 0;
    }
    100% {
      top: -100%;
      opacity: 0;
    }
  }
</style>
